body{
    background-color: #7FFFD4;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
}
h1{
    text-align:center;
    font-size: 50px;
    font-family: Verdana;
}
h2 {
    text-align:center;
    padding-bottom: 20px;
    font-size: 40px;
}
#menu{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.copyright{
    text-align:center;
    font-size: 10px;
}